.range-slider {
  width: 30%;
}
#js-range-slider {
  max-width: 30vw;
  background: green;
}

.irs--flat .irs-handle > i:first-child {
  background-color: #2a9d8f !important;
}
.irs--flat .irs-bar {
  background-color: #2a9d8f !important;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  background-color: #2a9d8f !important;
}
.irs--flat .irs-from:before,
.irs--flat .irs-to:before,
.irs--flat .irs-single:before {
  border-top-color: #2a9d8f !important;
}
